.container-1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-3 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-container {
  margin: 20px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}